.logo {
  font-family: "Oswald", sans-serif;
  color: white;
  font-size: 3.4rem;
}

.logo-plus {
  color: #ffbf00;
  font-weight: bold;
  font-size: 2.2rem;
}

.icone-film {
  font-size: 4.5rem;
  color: #ffbf00;
  padding-right: 0.9rem;
}
